<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>ID</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>State</th>
      <th>Country</th>
      <th>Name</th>
      <th>Employees</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>37.7552365</td>
      <td>-122.4401805</td>
      <td>3666 21st St San Francisco</td>
      <td>CA 94114</td>
      <td>USA</td>
      <td>Madeira</td>
      <td>8</td>
    </tr>
    <tr>
      <td>2</td>
      <td>37.7414969</td>
      <td>-122.4240961</td>
      <td>735 Dolores St San Francisco</td>
      <td>CA 94119</td>
      <td>USA</td>
      <td>Bready Shop</td>
      <td>15</td>
    </tr>
    <tr>
      <td>3</td>
      <td>37.756102</td>
      <td>-122.421041</td>
      <td>332 Hill St San Francisco</td>
      <td>California 94114</td>
      <td>USA</td>
      <td>Super River</td>
      <td>25</td>
    </tr>
    <tr>
      <td>4</td>
      <td>37.7529648</td>
      <td>-122.4317141</td>
      <td>3995 23rd St San Francisco</td>
      <td>CA 94114</td>
      <td>USA</td>
      <td>Ben's Shop</td>
      <td>10</td>
    </tr>
    <tr>
      <td>5</td>
      <td>37.748362</td>
      <td>-122.429346</td>
      <td>1056 Sanchez St San Francisco</td>
      <td>California</td>
      <td>USA</td>
      <td>Sanchez</td>
      <td>12</td>
    </tr>
    <tr>
      <td>6</td>
      <td>37.753666</td>
      <td>-122.43444</td>
      <td>551 Alvarado St San Francisco</td>
      <td>CA 94114</td>
      <td>USA</td>
      <td>Richvalley</td>
      <td>20</td>
    </tr>
  </tbody>
</table>